.header{
    min-height: 3.5rem;
    background-color: $black;
    padding-top: 1rem;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &--open{
            align-items: flex-start;
        }
    }
    &--fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
    }
    &__main{
        display: flex;
        align-items: center;
        &--open{
            flex-direction: column;
            align-items: flex-start;
        }
    }
}