.header{
    min-height: 3.5rem;
    background-color: $black;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
    }
}