.slider{
    position: relative;
    background-color: $yellow;
    
}
.swiper-slide{
    &__left{
        max-width:45%;
        @include phone {
            max-width: 69%;
        }
    }
    &__right{
        max-width:55%
    }
    &__img{
        max-width: 16rem;
        @include phoneL{
            max-width: 8rem;
        }
        @include phone {
            max-width: 6rem;
        }
        
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.5rem 3rem;
    }
    &__title{
        font-size: 1.65rem;
        font-weight: bold;
        top:6rem;
        margin-bottom: 1rem;
    }
    &__subtitle{
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    &__text{
        font-size: 0.85rem;
        margin-bottom: 1.5rem;
        @include phoneL{
            display: none;
        }
    }
    &__link{
        font-size: 0.9rem;
        padding: 0.75rem 1.5rem;
        border: 1px solid $black;
    }
}






.parallax-bg {
    background-image: url("./images/Slider.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    background-repeat: repeat   ;
  }

  .swiper-slide{
      display: flex;
      justify-content: space-between;
      padding: 3.5rem 3rem;

  }

.container--slider{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.swiper-button-next,
.swiper-button-prev{
    color:$whiteText;
}
.swiper-button-next{
    right: -2rem;
}
.swiper-button-prev{
    left: -2rem;
}
.swiper-wrapper{
    position: relative;
}
.swiper-pagination-bullet{
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #fff;
    position: relative;
    border-radius: 0;
}
.swiper-pagination-bullet-active{
    background: #000;
}