.triangle{
    margin: 0 auto;
    text-align: center;
    width: 0;
    height: 0;
    border-top: 30px solid $black;
  
    position: relative;
    clear: none;
    top: 0;
    z-index: 999;
    &--yellow{
        border-top: 30px solid $yellow;
    }
  
}