.price{
    background-color:$yellow;
    text-align: center;
    padding: 2.5rem 0;
    color: $black;
    &__list{
        display: flex;
        justify-content: space-between;
        padding-top: 2.5rem;
        @include phoneL{
            flex-direction: column;
        }
    }
    &__main{
        margin-bottom: 2.5rem;
    }
    &__subtitle{
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 1rem;
    }
   
}