.newsletter{
    background:url("./images/brand-bg.webp");
    padding:3rem 0;
    &__title{
        color:$yellow;
        font-size: 1.5rem;
        font-weight: normal;
        padding-bottom: 1.5rem;
        border-bottom:1px solid $gray;
        margin-bottom: 1.5rem;
    }
    &__main{
        display: flex;
        justify-content: space-between;
        @include phoneL{
            flex-direction: column;

        }

    }
    &__text{
        color:$whiteText;
        width: 47%;   
        @include phoneL{
            width: 100%;   
            text-align: center;
            
        } 
    }
    &__form{
        width: 53%;
        display: flex;
        justify-content: flex-end;
        @include phoneL{
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    }
    &__btn{
        margin: 0 0;
        width: 35%;
        margin-top: 0.5rem;
        padding: 0.75rem;
        height: auto;
        margin-bottom: 0.5rem; 

    }
    &__input{
        width: 60%;
        margin-top: 0.5rem;
        padding: 0.75rem;
        height: auto;
        margin-bottom: 0.5rem;
        margin-right: 1.5rem;
        font-size: 0.8rem;
        line-height: 20px;
        color: #555555;
        vertical-align: middle;
        border-radius: 4px;
        outline: none;
        @include phoneL{
            width: 100%;
        }
    }
}