.we{
    background: $black;
    text-align: center;
    padding:0 0 2.5rem ;
    &__bottom{
        display: flex;
        justify-content: space-between;
        @include phoneL{
            flex-direction: column;
        }
    }
    
}
.we__main{
    padding-top: 2.5rem;
    margin-bottom: 2rem;
    
}