.social-footer{
    padding-bottom: 2.5rem;
    &__list{
        display: flex;
        justify-content: center;
    }
    &__item{
        width: 2rem;
        height: 2rem;
        background-color:$whiteText;
        margin-right:1rem;
        border-radius:50%;
        
        &:hover{
            background-color:$black;
        }
        
    }
    &__svg-wrap{
        width: 1rem;
        height: 1rem;
        fill: $yellow;

    }
   &__link{
       width: 2rem;
       height: 2rem;
       display: flex;
        justify-content: center;
        align-items: center;
   }
}
